<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">

  <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
  defer
></script>

</head>
<body>
  <header class="site-header">
    <div class="container header-inner">
      <div class="brand">
        {%- if site.logo -%}
          <img src="{{ site.logo | relative_url }}" alt="Logo {{ site.title }}">
        {%- endif -%}
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>

     <nav class="site-nav">
  {% for item in site.data.navigation %}
    {% if item.children %}
      <div class="nav-item has-dropdown">
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        <div class="dropdown">
          {% for child in item.children %}
            <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% endif %}
  {% endfor %}
</nav>

    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer>
    <div class="container">
      <small>© {{ site.time | date: "%Y" }} {{ site.title }}</small>
    </div>
  </footer>
</body>
</html>
