<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
  <div class="header-top">
    <a href="{{ '/' | relative_url }}" class="site-logo">
      <img src="{{ '/assets/images/logoGPMF_orig.png' | relative_url }}"
           alt="Logo {{ site.title }}">
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
  </div>

  <nav class="site-nav">
    {% for item in site.data.navigation %}
      <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% unless forloop.last %} | {% endunless %}
    {% endfor %}
  </nav>

  <hr>
</header>


  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <small>© {{ site.time | date: "%Y" }} {{ site.title }}</small>
  </footer>
</body>
</html>
