<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
 <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.url }}">{{ item.title }}</a>{% unless forloop.last %} | {% endunless %}
  {% endfor %}
</nav>


    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <small>© {{ site.time | date: "%Y" }} {{ site.title }}</small>
  </footer>
</body>
</html>
